//Mon fichier est préfixé par un _ 
//afin d'indiquer que c'est un fichier un inclure



.banner{

    background-color: $color-background-banner;
    background-image: url(../images/see.jpg);
    background-size: cover;
    background-position: top right;
    color: $color-text-secondary;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 0 $gutter;
    position:relative;
    z-index: 0;

    &__header{
        margin-bottom: $gutter-large;

        &__title{
            font-size: $font-size-very-large;
            line-height: $line-height-very-large;
        }
    }

    &__main{
        line-height: $line-height;
    }

    &__footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .button{
            margin-bottom: $gutter-small;
            margin-right: $gutter-small;
        }
    }

    &__header,
    &__main{
        width:50%;
    }

    &::after{

        background: linear-gradient(
            to right,
             rgba($color-background-banner,0.75),
             rgba($color-background-banner,0.75) 50%,
             rgba($color-background-banner,0.6) 75%,
             rgba($color-background-banner,0.4) 100%);
        content:'';
        z-index: -1;
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

    }

}

